In [22]:
import pandas as pd
from sqlalchemy import create_engine

In [23]:
df = pd.read_csv ('/home/melodie/Téléchargements/archive (2)/titles.csv')
df2 = pd.read_csv ('/home/melodie/Téléchargements/archive (2)/credits.csv')

In [24]:
df.describe()

,release_year,runtime,seasons,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5806.000000,5806.000000,2047.000000,5283.000000,5.267000e+03,5712.000000,5488.000000
mean,2016.013434,77.643989,2.165608,6.533447,2.340719e+04,22.525660,6.818039
std,7.324883,39.474160,2.636207,1.160932,8.713432e+04,68.849177,1.171560
min,1945.000000,0.000000,1.000000,1.500000,5.000000e+00,0.009442,0.500000
25%,2015.000000,44.000000,1.000000,5.800000,5.210000e+02,3.155250,6.100000
50%,2018.000000,84.000000,1.000000,6.600000,2.279000e+03,7.478000,6.900000
75%,2020.000000,105.000000,2.000000,7.400000,1.014400e+04,17.775750,7.500000
max,2022.000000,251.000000,42.000000,9.600000,2.268288e+06,1823.374000,10.000000

In [25]:
df2.describe()

          person_id
count  7.721300e+04
mean   4.994603e+05
std    6.128431e+05
min    7.000000e+00
25%    4.158400e+04
50%    1.829850e+05
75%    8.415570e+05
max    2.371585e+06

In [33]:
engine = create_engine('postgresql://melodie:abcdef123@localhost:5433/melodie')

In [34]:
df.to_sql("titles",engine,if_exists='replace')

806

In [35]:
df.to_sql("credits",engine,if_exists='replace')

806